fastapi==0.111.0
uvicorn==0.29.0
pandas==2.2.2
numpy==1.26.4
scikit-learn==1.4.2
statsmodels==0.14.2
xgboost==2.0.3
kafka-python==2.0.2
pydantic==2.7.1
sqlalchemy==2.0.29
clickhouse-driver==0.2.7
python-dotenv==1.0.1
httpx==0.27.0
